.Navbar {
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 10px 20px;
    /* margin: 10px; */
    border-radius: 10px;
}

.logo {
    height: 6rem;
    width: 6rem;

}

.NavbarItems {
    display: flex;
    align-items: center;
    gap: 20px;
}

.NavbarItem {
    color: white;
    text-decoration: none;
    /* transition: transform 40s ease-in-out;
    transform: translateX(50px);  */
}

.NavbarItemRollUp {
    color: white;
    text-decoration: none;
    /* transition: transform 4s ease-in-out; */
    /* transform: translateX(0);  */
}
