.navbar{
    /* height: 100vh;
    width: 100vw; */
    position: absolute;
    /* color: white; */
    /* background: pink; */
    /* display:  */
    align-items: center;
    justify-content: space-between;
    z-index: 80;
    width: 100%;
    display: flex;
    /* padding: 20px,1%;  */
}
.Projects
{
    text-align: right;
    /* background: gainsboro; */
    font-weight: 1000;
    color :grey;
}
@keyframes popAndMove {
    0% {
        transform: scale(0) translate(-50%, -50%);
        top: 50%;
        left: 50%;
        opacity: 0;
    }
    50% {
        transform: scale(1.2) translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: scale(1) translate(0, -50%);
        top: 40%;
        right: 5%;
        left: auto;
    }
}
 .logo
 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: transparent;
    width: 10rem; 
    height: auto; 
    transition: all 0.5s ease;
    animation: popAndMove 1.5s ease-out forwards;
 }
 @media (max-width: 768px) {
    .logo {
        justify-content: flex-start; 
        padding-left: 1rem; 
    }
}